<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Branches</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:fragment="content">
    <div class="container">
  	<h2>List of Branches</h2>
  	<table class="table table-hover">
    <thead>
      	<tr>
      	  <th>Name</th>
       	 <th>Address</th>
       	 <th>Phone</th>
     	</tr>
   	 </thead>
   	 <tbody>
		<tr th:each="branch : ${branches}">
			<td th:text="${branch.name}">Branch name</td>
			<td th:text="${branch.address}">Branch address</td>
			<td th:text="${branch.phone}">Branch phone</td>
		</tr>
     </tbody>
  	</table>
	</div>
</div>
</body>
 
 
</html>