<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>favoritefoods</title>
</head>
<body>
<div th:fragment="favoritefoods">
    <div class="owl-carousel owl-theme">
        <div><img src="https://i.imgur.com/Sy7oQjo.gif"/>
            <div class="title">Thịt heo hầm</div>
            <div class="title">20.000 VNĐ</div>
        </div>
        <div><img src="https://i.imgur.com/bBtqMHE.gif"/>
            <div class="title">Lợp xưởng nước</div>
            <div class="title">45.000 VNĐ</div>
        </div>
        <div><img src="https://i.imgur.com/rcDBZk0.gif"/>
            <div class="title">Gà xào đậu hà lan</div>
            <div class="title">68.000 VNĐ</div>
        </div>
        <div><img src="https://i.imgur.com/zV8WrlT.gif"/>
            <div class="title">Thịt heo hầm</div>
            <div class="title">20.000 VNĐ</div>
        </div>
        <div><img src="https://i.imgur.com/rWDdmKq.gif"/>
            <div class="title">Thịt heo hầm</div>
            <div class="title">20.000 VNĐ</div>
        </div>
        <div><img src="https://i.imgur.com/9fE9Wd1.gif"/>
            <div class="title">Thịt heo hầm</div>
            <div class="title">20.000 VNĐ</div>
        </div>
        <div><img src="https://i.imgur.com/zV8WrlT.gif"/>
            <div class="title">Thịt heo hầm</div>
            <div class="title">20.000 VNĐ</div>
        </div>
        <div><img src="https://i.imgur.com/rWDdmKq.gif"/>
            <div class="title">Thịt heo hầm</div>
            <div class="title">20.000 VNĐ</div>
        </div>
        <div><img src="https://i.imgur.com/9fE9Wd1.gif"/>
            <div class="title">Thịt heo hầm</div>
            <div class="title">20.000 VNĐ</div>
        </div>
    </div>
</div>
</body>
</html>