<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>newfoods</title>
</head>
<body>
<div th:fragment="newfoods">
    <div class="owl-carousel owl-theme">
        <div th:include="fragments/food :: food('https://i.imgur.com/Sy7oQjo.gif', 'Mì hải sản', '40.000 VNĐ')"></div>
        <div th:include="fragments/food :: food('https://i.imgur.com/bBtqMHE.gif', 'Phở bò', '60.000 VNĐ')"></div>
        <div th:include="fragments/food :: food('https://i.imgur.com/rcDBZk0.gif', 'Bạch tuộc cuộn', '85.000 VNĐ')"></div>
        <div th:include="fragments/food :: food('https://i.imgur.com/zV8WrlT.gif', 'Cơm xào mực', '140.000 VNĐ')"></div>
        <div th:include="fragments/food :: food('https://i.imgur.com/rWDdmKq.gif', 'Bánh canh cá lóc', '55.000 VNĐ')"></div>
    </div>
</div>
</body>
</html>