
.navbar-brand{
  font-family: 'Pacifico', cursive;
  color: rgba(234, 43, 43, 0.9) !important;
}
.header-bg{
  background: url(/resources/images/101.jpg) no-repeat 0px 0px;
  background-size: cover;
}