@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

.carousel-item{
  height: 450px;
  overflow: hidden;
}
.banner{
  margin-bottom: 50px;
}

.home-content{
  min-height: 700px;
}

/* Override tab pane behavior */
.tab-content {
  margin-bottom: 20px;
  .tab-pane{
    display: block !important;
    &:not(.active) {
      opacity: 0;
      height: 0;
      overflow-y: hidden;
    }
    &.active {
      opacity: 1;
    }
  }
}
.nav-tabs {
  .nav-link {
    border: 0;
    border-radius: 0;
    background-color: white;
    @include transition(background-color 0.1s ease-out);
    color: black;
    &.active {
      color: white;
      background-color: #ff5b00;
    }
  }
}
