<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:fragment="footer">
        <div class="w3-agile-footer">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3 footer-grid">
                        <div class="footer-grid-heading">
                            <h3><a href="bkcp_index.html">Food <span>Club</span></a></h3>
                        </div>
                        <div class="agile-footer-info">
                            <p>Maecenas pharetra scelerisque sem quis commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                        </div>
                        <div class="social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <div class="footer-grid-heading">
                            <h4>Address</h4>
                        </div>
                        <div class="footer-grid-info">
                            <p>Eiusmod Tempor inc
                                <span>St Dolore Place,Kingsport 56777.</span>
                            </p>
                            <p class="phone">Phone : +1 123 456 789
                                <span>Email : <a href="mailto:example@email.com">mail@example.com</a></span>
                                <span>FAX : 123 456 7890</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <div class="footer-grid-heading">
                            <h4>Navigation</h4>
                        </div>
                        <div class="footer-grid-info">
                            <ul>
                                <li><a href="bkcp_index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="icons.html">Icons</a></li>
                                <li><a href="codes.html">Short Codes</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <div class="footer-grid-heading">
                            <h4>Twitter Posts</h4>
                        </div>
                        <div class="agile-footer-grid">
                            <ul class="w3agile_footer_grid_list">
                                <li>Ut aut reiciendis voluptatibus maiores <a href="#">http://example.com</a> alias, ut aut reiciendis.
                                    <span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li>
                                <li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://example.com</a><span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="agileits-w3layouts-copyright">
                    <p>© 2017 Food Club . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>