<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>special</title>
</head>
<body>
<div th:fragment="special">
    <!-- special -->
    <div class="special">
        <div class="container">
            <div class="agileinfo-heading">
                <h3>Specialities</h3>
            </div>
            <div class="special-top-grids">
                <div class="w3-agile-special">
                    <div class="col-md-3 special-grids">
                        <div class="special-img">
                            <img class="img-responsive" src="/resources/images/s1.jpg" alt="">
                            <div class="captn">
                                <div class="captn-top">
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                                <div class="wthree-special-info">
                                    <h4>Phasellus</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 special-grids">
                        <div class="special-img">
                            <img class="img-responsive" src="/resources/images/s2.jpg" alt="">
                            <div class="captn">
                                <div class="captn-top">
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                                <div class="wthree-special-info">
                                    <h4>Accumsan</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 special-grids">
                        <div class="special-img">
                            <img class="img-responsive" src="/resources/images/s3.jpg" alt="">
                            <div class="captn">
                                <div class="captn-top">
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                                <div class="wthree-special-info">
                                    <h4>Sodales</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 special-grids">
                        <div class="special-img">
                            <img class="img-responsive" src="/resources/images/s4.jpg" alt="">
                            <div class="captn">
                                <div class="captn-top">
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                                <div class="wthree-special-info">
                                    <h4>Placerat</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="w3-agile-special">
                    <div class="col-md-3 special-grids">
                        <div class="special-img">
                            <img class="img-responsive" src="/resources/images/s5.jpg" alt="">
                            <div class="captn">
                                <div class="captn-top">
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                                <div class="wthree-special-info">
                                    <h4>Phasellus</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 special-grids">
                        <div class="special-img">
                            <img class="img-responsive" src="/resources/images/s4.jpg" alt="">
                            <div class="captn">
                                <div class="captn-top">
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                                <div class="wthree-special-info">
                                    <h4>Accumsan</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 special-grids">
                        <div class="special-img">
                            <img class="img-responsive" src="/resources/images/s1.jpg" alt="">
                            <div class="captn">
                                <div class="captn-top">
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                                <div class="wthree-special-info">
                                    <h4>Sodales</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 special-grids">
                        <div class="special-img">
                            <img class="img-responsive" src="/resources/images/s2.jpg" alt="">
                            <div class="captn">
                                <div class="captn-top">
                                    <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                                </div>
                                <div class="wthree-special-info">
                                    <h4>Placerat</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //special -->
</div>
</body>
</html>