
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="subscribe">
    <!-- subscribe -->
    <div class="wthree-subscribe">
        <div class="container">
            <div class="agileinfo-heading">
                <h3>Newsletter</h3>
            </div>
            <div class="w3-agileits-subscribe-form">
                <form action="#" method="post">
                    <input type="text" placeholder="Subscribe" name="Subscribe" required="">
                    <button class="btn1">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <!-- //subscribe -->
</div>
</body>
</html>