<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:fragment="content">
    <div th:include="home/_welcome :: welcome">
        welcome
    </div>
    <div th:include="home/_special :: special">
        special
    </div>
    <div th:include="home/_history :: history">
        history
    </div>
    <div th:include="home/_subscribe :: subscribe">
       subscribe
    </div>
</div>
</body>
</html>